<h1>餐廳後台</h1>
<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link {{#ifMatch route 'restaurants'}}active{{/ifMatch}}" href="/admin/restaurants">Restaurants</a>
  </li>

  <li class="nav-item">
    <a class="nav-link {{#ifMatch route 'users'}}active{{/ifMatch}}" href="/admin/users">Users</a>
  </li>

  <li class="nav-item">
    <a class="nav-link {{#ifMatch route 'categories'}}active{{/ifMatch}}" href="/admin/categories">Categories</a>
  </li>
</ul>